<div class="form">
  <div class="field-wrap">
    <%= form_for [:admin, @image] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :url %>
    <%= f.text_area :url %><br>

    <%= f.submit "Create Image", class: "sub-btn" %>
    <% end %>
  </div>
</div>
<%= link_to "Back to Admin Dashboard", admin_dashboard_index_path %>
