  <body>
    <h1>Image Index</h1>
    <%= link_to "Create Image", new_admin_image_path %><br>
    <%= link_to "Back to Admin Dashboard", admin_dashboard_index_path %>
    <% @images.each do |image|  %>
    <p><%= image.name %></p>
    <%= image_tag(image.url, size: "200x150", alt: image.name ) %><br>
    <%= link_to "delete image", admin_image_path(image), method: "delete" %><br>
    <% end %>
  </body>
